.header{
        margin-top: 3%;
        margin-bottom: 2%;
        color: black;
        text-align: center;
}
.header a{
        color: white;
        text-decoration: none;
        font-style: bold;
        padding:0px 15px 0px 15px;
        background-color: black;
        border-radius: 5px;
}

.btnbar{
  margin-top: 2%;
  width: 370px;
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;


}
.movebutton{

  background-color: #2ae9d3;
  color: rgba(0, 0, 0, 0.869);
  cursor: pointer;
  font-size: 25px;
  padding: 12px 15px;
  border-radius: 7px;
  transition: color 0.3s ease, background-color 0.3s ease;
  
}
.movebutton:hover{
        background-color: #347b76;
        color: white;      
}
